@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    width: 100%;
}

header,
footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    background: #088178;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.content {
    padding: 20px;
}

.slide,
.article {
    margin-bottom: 20px;
}

.slide-content {
    display: flex;
    align-items: center;
}

.slide img {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
}

.text-content {
    max-width: 50%;
}

.logo {
    max-width: 100px;
    height: auto;
}

footer p {
    margin: 0;
}


/* Responsive font sizes */

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h4 {
        font-size: 1.3rem;
    }
    p {
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    p {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.1rem;
    }
    p {
        font-size: 0.7rem;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.6rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    h4 {
        font-size: 1rem;
    }
    p {
        font-size: 0.6rem;
    }
}